body
{
	font-family: Tahoma,Arial,Verdana,Geneva,Helvetica,sans-serif;
	font-size: 90%;
	line-height: 125%;
	letter-spacing: 1px;
}

.programlisting
{
	font-size: 100%;
	display: block;
	padding: 10px;
	overflow: auto;
	border-radius: 2.5px;
	-moz-border-radius: 2.5px;
	margin: 0.5em 2em;
	/*background: #e8f0f8;*/
	background: aliceblue;
	color: #000000;
	border: 1px solid #708890;
}

.emphasis
{
	font-weight: bold;
}

table
{
	border-collapse: collapse;
}

table.corelib
{
	border: 1px solid black;
	border-collapse: collapse;
}

table.corelib thead td
{
	background-color: aliceblue;
}

.hl-string { color:blue; }
.hl-comment { color: green;}
